/* 공통 CSS */
* { position:relative; margin:0; padding:0; list-style:none; text-decoration:none; box-sizing:border-box; touch-action: pan-y; -webkit-font-smoothing: antialiased; appearance: none; -webkit-appearance: none;  font-family:"SCoreDream"; }
a { cursor:pointer; }
body { position:fixed; top:0; left:0; width:100vw; height:100vh; }
body::-webkit-scrollbar {
	position:fixed;
	width: 3px;
}
body::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 2px;
}
body::-webkit-scrollbar-track {
	background-color: transparent;
}

p { margin:0; padding:0; }

#WRAPPER { background-color:transparent; }

/*flex*/
.flex-row-center { display:flex; flex-flow:row wrap; align-items:center; justify-content:center; }
.flex-row-start { display:flex; flex-flow:row wrap; align-items:center; justify-content:flex-start; }
.flex-row-end { display:flex; flex-flow:row wrap; align-items:center; justify-content:flex-end; }
.flex-row-sb { display:flex; flex-flow:row wrap;  align-items:center; justify-content:space-between; }

.flex-column-center { display:flex; flex-flow:column wrap; align-items:center; justify-content:center; }
.flex-column-start { display:flex; flex-flow:column wrap; align-items:center; justify-content:flex-start; }
.flex-column-end { display:flex; flex-flow:column wrap; align-items:center; justify-content:flex-end; }
.flex-column-sb { display:flex; flex-flow:column wrap;  align-items:center; justify-content:space-between; }

.nowrap { flex-wrap: nowrap;}

/*align*/
.h_center { left:50%; transform:translateX(-50%); }
.v_center { top:50%; transform:translateY(-50%); }
.hv_center { left:50%; top:50%; transform:translate(-50%,-50%); }

/*라이브러리용 클래스*/
.nicescroll-cursors { border:none!important; background:var(--magenta)!important;  }
.kakao-map { border-radius:5px; width:100%; }
.kakao-map-marker { background:var(--magentaG); border-radius:5px; padding:4px 8px; min-width:130px; text-align:center;  border:1px solid #666; top:-80px; left:-65px; transition:.3s; }
.kakao-map-marker.moved { top:-50px; left:-27px; }
.mCustomScrollBox  { width:100%; }
.mCSB_inside > .mCSB_container { margin-right:0!important; }
/* .nicescroll-rails { z-index:101!important; } */


/* button */
.btn { border-radius:5px;  transition:.3s; display:flex; align-items: center;justify-content: center; padding:8px 16px; margin-left:8px; height:40px; }
.btn:hover { opacity:0.7; }
.btn_purple { background:var(--purple); border:none; min-width:100px; }
.btn_purple_w { background:#fff; color:var(--purple); border:1px solid var(--purple); }
.btn_green { background:var(--green); color:#fff; }
.btn_green_w { background:#fff; color:var(--green); border:1px solid var(--green); }
.btn_red { background:var(--red); color:#fff; }
.btn_red_w { background:#fff; color:var(--red); border:1px solid var(--red); }
.btn_black { background:#000; color:#fff; }
.btn_black_w { background:#fff; color:#000; border:1px solid #000; }
.btn_disable { background:#C7C7C7; color:#fff; }
.btn_gray { background:#fff; color:#000; border:1px solid #c2c2c2; }
.btn_gray:hover { background:#F6F6F6; color:black; }

/* button-group */
.button-group { position:fixed; right:10px; cursor:pointer; }
.button-group button { margin:4px 0; box-shadow:0 0 8px 0 rgba(0,0,0,0.2); }


input[type="checkbox"]{
	display: none;
}

input[type="checkbox"] + label{
	display: flex;
	width: 20px;
	height: 20px;
	border:none;
	position: relative;
	background:var(--purple);
	border-radius:4px;
	margin:0 8px;
	cursor:pointer;
}

input[type="checkbox"]:checked + label::after{
	display: flex;
	justify-content:center;
	align-items:center;
	content:'✔';
	font-size: 14px;
	width: 20px;
	height: 20px;
	color:#fff;
}

/* root color */
:root {
	--purple : #6E4AEF;
	--green : #00C337;
	--red : #F0042F;
}


/* popup */
#POPUP_VIEW { background:rgba(255,255,255,0.3); display:flex; }
.popup { top:5vh; transition:.5s; opacity:0; background:rgba(255,255,255,0.9); max-width:500px; max-height:1000px; border-radius:5px; border:1px solid #ddd; box-shadow:0 0 8px 0 rgba(0,0,0,0.2); min-width:300px; -webkit-transition:.5s; -moz-transition:.5s; -ms-transition:.5s; -o-transition:.5s; }
.popup-header { width:100%; height:50px; display:flex; align-items:center; justify-content:flex-start; border-bottom:1px solid #ddd; color:var(--purple); font-weight:500; padding:8px; }
.popup-main { width:100%; height:calc(100% - 50px); padding:12px; color:#000; }
.popup-bottom { width:100%; height:50px; display:flex; align-items:center; justify-content: flex-end; padding:8px; }
.btn_popup_close { position:absolute; right:12px; top:8px; font-size:24px; color:#444; cursor:pointer; }

/***************** 기본 UI STYLE *******************/
.default-ui { z-index:100; position:fixed; top:0; left:0; }

/* header  */
header { height:60px; width:100%; background:var(--purple); position:fixed; top:0; display:flex; align-items: center; justify-content: center; }
.meta-logo { height:40px; background:#fff; padding:5px; border-radius:20px; position:absolute; left:5px; }
.header-menu { height:100%; }
.header-menu li { width:200px; height:100%; display:flex; align-items: center; justify-content: center; transition: .3s; cursor:pointer; }
.header-menu li:hover { background:#fff; color:var(--purple); }
.header-menu:hover .header-submenu { top:60px; opacity:1; pointer-events: auto; transition:.5s; }
.header-submenu {
	background:#fff;
	color:#000;
	width:1000px;
	height:120px;
	display:flex;
	position:fixed;
	top:50px;
	left:50%;
	transform:translateX(-50%);
	flex-flow:row wrap;
	align-items:center;
	justify-content:center;
	opacity:0;
	pointer-events: none;
	-webkit-transform:;
	-moz-transform:;
	-ms-transform:;
	-o-transform:;
}
.header-submenu li { width:200px; height:40px; display:flex; align-items:center; justify-content: center; cursor:pointer; transition:.3s; font-weight:500; }
.header-submenu li:hover { background:var(--purple); color:#fff; }

/* sidemenu */
.sidemenu { position:fixed; top:60px; left:0; height:100%; background:#363636; width:50px; }
.sidemenu li { display:flex; justify-content:center; align-items: center; height:50px; width:100%; transition:.3s; cursor:pointer; }
.sidemenu li:hover { background:var(--purple); }
.sidemenu li i { font-size:20px; }

#PAGE_VIEW { width:calc(100% - 50px); height:calc(100% - 100px); position:absolute; left:50px; top:60px; }
/* footer */
footer { height:40px; position:fixed; bottom:0; left:0; width:100%; background:rgba(0,0,0,0.8); font-size:14px;}

/* ranger-picker */
.daterangepicker .calendar-time select { border-radius:5px; background:var(--purple); text-align:center; cursor:pointer; }
th.month { color:#444; }
th { color:#444; }
tr > th:nth-of-type(1) { color:rgb(255, 120, 120); }
tr > th:nth-of-type(7) { color:rgb(123, 123, 255); }
td { color:#444; }
.drp-buttons { display:none!important; }