/* div_table CSS */
div.table_container { position:relative; width:100%; border-radius:10px; overflow:hidden; }
div.table_thead { display:flex; flex-flow:row wrap; width:100%; }
div.table_thead div.table_td { display:block; padding-left:8px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
div.table_tbody { display:flex; flex-flow:row wrap; justify-content:flex-start; align-items:flex-start; width:100%; align-content:flex-start; background:var(--inputBG); }
div.table_row { display:flex; flex-flow:row wrap; justify-content:flex-start; width:100%; transition:.3s; border-bottom:0.1rem solid #BAC4CD; }
/* div.table_row:hover { background:#272b5c; cursor:pointer; } */
/* div.table_row:hover div.table_td { color:#fff!important; } */
div.table_row.red div.table_td { color:#df3f5c;  }
div.table_row.blue div.table_td { color:#257AEF; }
div.table_td { display:block;height:100%; font-weight:500; padding-left:8px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
div.table_td.blue { color:#257AEF!important; }
div.table_td.red {color:#df3f5c!important; }
div.table_tbody div.table_td { color:#34373C; font-weight:700; }
div.table_tbody div.table_td:hover { opacity:0.8; cursor:pointer; }
div.div_title_area { width:100%; height:4rem; }
div.table_td.title { }