/* 공통 CSS */
* {position:relative; margin:0; padding:0; list-style:none; text-decoration:none; box-sizing:border-box; cursor:default; touch-action: pan-y; font-family:'SCoreDream'; -webkit-font-smoothing: antialiased;}
html,body { font-size:10px; background-image: linear-gradient(0deg, rgba(10,0,43,1) 50%, rgb(49, 24, 124) 100%)!important;
	color:#bbb; width:100%; height:100%; overflow:hidden; margin:0 auto; }
p { margin:0; padding:0; }
i { cursor:pointer; transition:.3s; color:#fff; }
i:hover { opacity:0.5; }
.csicon{ position: fixed; z-index: 100; bottom:1rem; right:1rem; }
	
/*flex*/
.flex-row-center { display:flex; flex-flow:row wrap; align-items:center; justify-content:center; }
.flex-row-start { display:flex; flex-flow:row wrap; align-items:center; justify-content:flex-start; }
.flex-row-end { display:flex; flex-flow:row wrap; align-items:center; justify-content:flex-end; }
.flex-row-sb { display:flex; flex-flow:row wrap;  align-items:center; justify-content:space-between; }

.flex-column-center { display:flex; flex-flow:column wrap; align-items:center; justify-content:center; }
.flex-column-start { display:flex; flex-flow:column wrap; align-items:center; justify-content:flex-start; }
.flex-column-end { display:flex; flex-flow:column wrap; align-items:center; justify-content:flex-end; }
.flex-column-sb { display:flex; flex-flow:column wrap;  align-items:center; justify-content:space-between; }

/*align*/
.h_center { left:50%; transform:translateX(-50%); }
.v_center { top:50%; transform:translateY(-50%); }
.hv_center { left:50%; top:50%; transform:translate(-50%,-50%); }

/*niceScroll*/
.nicescroll-cursors { border:none!important; background-color:rgb(0 111 255)!important; }
/* .nicescroll-rails { z-index:101!important; } */

.nowrap { flex-wrap: nowrap;}
.subpage { width:100%; position:relative; padding:1.5rem; background-color: transparent; }
.footer-block { width:100vw; height:10rem; }

/*header/navigation*/
header { position:fixed; top:0; left:0; z-index:100; width:100%; height:5rem; font-size:1.6vh; padding:0 1rem; }
#NAV_LOGO { cursor:pointer; text-align:center; font-weight:600; font-size:var(--fLarger); height:100%; }
#BTN_HOME { cursor:pointer; position:absolute; left:6.5rem; font-size:1.8rem; }
#MENU_AREA { position:absolute; right:2rem; width:10%; min-width:9.5rem; }
#MENU_AREA i { margin-left:1.5rem; font-size:1.8rem; }
#MENU_ICON { display:none; }
#MENU_ICON + label { display:block; width:30px;height:4rem; position:fixed; z-index:101; left:2rem; }
#MENU_ICON + label span { background:linear-gradient(90deg, #650023, #00929f, rgb(255, 0, 247)); background:#fff; display:block; position:absolute; width:30px;height:4px;border-radius:30px; transition:all .35s;}
#MENU_ICON + label span:nth-child(1) {top:10px;}
#MENU_ICON + label span:nth-child(2) {top:20.25px;transform:translateY(-50%);} 
#MENU_ICON + label span:nth-child(3) {bottom:10px;}
#MENU_ICON:checked + label {z-index:101;}
#MENU_ICON:checked + label span {background:rgba(255, 255, 255, 0.87);}
#MENU_ICON:checked + label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);}
#MENU_ICON:checked + label span:nth-child(2) {opacity:0;}
#MENU_ICON:checked + label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);}
#MENU_ICON:checked + label + nav {left:0; transition:0.5s;}
#MENU_ICON + label + nav {left:-214px; transition:0.5s;}

/* 사이드바 */
nav { opacity:0.9; width:194px; height:100%; background:var(--menuColor); position:fixed; top:0; left:-214px; z-index:100; box-shadow:0 0 1.0rem var(--modalColor); border-right:0.1rem solid rgba(218, 218, 218, 0.1); }
nav > ul { margin-top:80px; }
nav > ul > li { font-size:1.2rem; color:#fff; font-weight:400; padding:0.7rem 2rem; transition:.3s; cursor:pointer; }
nav > ul > li:hover { box-shadow:inset 0.3rem 0.3rem 0.5rem rgba(0,0,0,0.5); background:rgba(255,255,255, 0.6); color:#130031; font-weight:500; }
nav > ul > li a { font-size:1.2rem; color:#fff; font-weight:400; cursor:pointer; }
nav > ul > li.title { color:#55d7ff; padding-left:1.5rem; font-size:1.3rem; font-weight:600; padding-top:1rem; pointer-events:none; }
nav > ul > li.none { pointer-events:none; }
nav > ul > li.selected { background:rgba(255,255,255, 0.8); color:#130031; font-weight:500; }
nav > ul > li.login_menu { display:none; }


:root 
{
	/* color */
	--magentaG : linear-gradient(to right, #D700FF, #6f00ff);
	--magenta : rgb(215, 0, 255);
	--purple : #580268;
	--indigo : #350188;

	--gradient1 : linear-gradient(to right, #5264DA, #B146C9);
  --gradient2 : linear-gradient(to right, #735DC7, #46B4FB);
  --gradient3 : linear-gradient(to right, #028FFD, #13BDCE);
	--gold :#ffae00;
	--mint : #00ffd5;
	--blueG : linear-gradient(#0BE4D6, #002BFE);
	--purpleG : linear-gradient(#ff0080, #6f00ff);
	--redG : linear-gradient(#ffc400, #ff0022);
	--gray : #999;
	--lightgray : #ddd;
	--bluegray : #40415a;
	--disable : #1a1c28;
	--blue		: #3e75ff;
	--red     : #df3f5c;
	--skyblue : #3ec2ff;
	--boxColor : #372b63;
	--bgColor  : #02041C;
	--popupColor:#14152d;
	--menuColor:linear-gradient(to top, #6b007e, #5500c4)!important;
	--modalColor:rgba(0,0,0,0.8);
	/* font-size */
	--fSmall : 1rem;
	--fMedium : 1.2rem;
	--fLarge  : 1.4rem;
	--fTitle  : 1.4rem;
	--fLarger  : clamp(1.8rem, 2vw, 3rem);
	--fTitle  : clamp(2.0rem, 9vw, 5rem);

}

/*라이브러리용 클래스*/
.nicescroll-cursors { border:none!important; background:var(--magenta)!important;  }
.kakao-map { border-radius:5px; width:100%; }
.kakao-map-marker { background:var(--magentaG); border-radius:5px; padding:4px 8px; min-width:130px; text-align:center;  border:1px solid #666; top:-80px; left:-65px; transition:.3s; color:#fff; }
.kakao-map-marker.moved { top:-50px; left:-27px; }


/*보여주기용으로 이 줄 아래쪽에 CSS작업합니다*/

/* 전체상품목록 */
#TOTAL_ITEM_LIST { position:relative; width:100%; overflow:hidden; margin-bottom:2rem; display:flex; align-items:center; justify-content: center; flex-flow:row wrap; height:300px; overflow:scroll; background:var(--boxColor); }
.item-box { 
	width:calc(100% / 3 - 8px); margin:4px; 
	display:flex; justify-content: center; align-items: flex-start;
	padding-top:28px;
	aspect-ratio: 1 / 1; border-radius:5px;
	background:var(--magentaG); 
	 color:#fff;
}
.item-box .item-title { font-size:18px; font-weight:600; text-align:center; }
.item-box:nth-child(2n+1) { background:var(--gradient1); }
.item-box .item-subtitle { position:absolute; bottom:25%; text-align:center; width:100%; color:#fff; font-weight:400; opacity:0.5; }
.item-box .item-pirce { position:absolute; bottom:8px; text-align:center; width:100%; color:#fff; font-weight:400; opacity:1; font-size:12px; }
.item-box.selected { background:#fff; }
.item-box.selected p { color:var(--magenta); transition:.3s; }


/* 증권목록 */
#TRADER_LIST { 
	position:relative; width:100%; height:100%; 
	overflow:hidden; margin-bottom:1rem; margin-top:5.6rem; 
	background:var(--boxColor);
	display:flex;
	justify-content: flex-start;
	flex-flow:row wrap;
}

#TRADER_LIST .item-trader {
	background:#ffffff;
	margin:5px;
	padding:5px 10px;
	border-radius: 5px;
	width:calc(100% / 3 - 10px);
	display:flex;
	align-items: center;
	box-shadow:0 0 1.0rem var(--modalColor);
}

#TRADER_LIST .item-trader img { width:100%; }

@keyframes flash {
	0% { filter:brightness(50%); }
	50% { filter:brightness(100%); }
	100% { filter:brightness(50%);}
}

