#GPT_CHAT_BOX { width:100%; height:calc(100% - 38px); }
#GPT_CHAT_BOX p { color:#ddd; width:100%; font-weight:500; padding:4px; border-radius:5px; margin-top:5px; opacity:0.9; }
#GPT_CHAT_BOX .user-chat { color:var(--bora); background:#fff; text-align:right; }
#GPT_CHAT_BOX .gpt-chat { color:#fff; background:var(--magentaG); }
#INPUT_GPT_CHAT{ width:calc(100% - 6rem); padding:0.5rem; }

#BTN_GPT_SUBMIT { margin-left:0.5rem; }
#GPT_LOADING { position:fixed; bottom:50%; width:60%!important; text-align:center; display:none; background:var(--indigo); border-radius:5px; padding:1rem; z-index:10; color:#fff; opacity:0.9; }
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink-effect 3s ease-in-out infinite;
}